.headercontainer {
  background-color: #2e572a;
  margin-bottom: 24px;
}

.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}
.headerNav {
  display: flex;
  justify-content: space-between; /* Corrected property value */
  align-items: center;
}
.navlink a {
  margin: 0px 8px;
  padding: 8px 16px; /* Add padding to make links more clickable */
  border-radius: 4px; /* Add border-radius for a button-like appearance */
  transition: background-color 0.2s; /* Add a smooth hover effect */
}

.logoutButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px; /* Adjust the font size */
  margin-left: 16px; /* Add spacing between the text and icon */
  transition: background-color 0.2s;
}
.logoutButton :hover {
  background-color: #4a813c; /* Change the background color on hover */
  color: white; /* Change text color on hover */
}

/* Add styles for FontAwesome icon if needed */
